@media screen and (max-width: 767px) {
    .productsWrapper {
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .productsHeading {
        background: #000;
        color: #fff;
        height: 80px;
    }

    .productsHeading h1 {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .productsImage {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 352px;
        width: 100%;
        margin-bottom: 40px;
    }

    .productsContent h2 {
        margin: 0 auto;
        height: 100%;
        width: 327px;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .productsContent p {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        line-height: 25px;
        opacity: 0.5;
        margin-top: 24px;
        text-align: center;
        margin-bottom: 30px;
        opacity: 0.5;
    }

    .productsBtn {
        border: none;
        padding: 10px 20px;
        color: #fff;
        background: #D87D4A;
        font-size: 13px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-top: 25px;
        margin-bottom: 80px;
        margin-left: 32%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .productsWrapper {
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .productsHeading {
        background: #000;
        color: #fff;
        height: 100px;
    }

    .productsHeading h1 {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .productsImage {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #F1F1F1;
        height: 352px;
        border-radius: 8px;
        margin-bottom: 40px;
    }

    .productsContent h2 {
        height: 100%;
        margin: 0 auto;
        text-align: center;
        width: 327px;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }

    .productsContent p {
        margin: 0 auto;
        text-align: center;
        width: 527px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5; 
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .productsBtn {
        border: none;
        margin-left: 40%;
        padding: 15px 25px;
        color: #fff;
        background: #D87D4A;
        font-size: 13px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1024px) {
    .productsWrapper {
        margin: 0 auto;
        width: 75%;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
    }

    .productsHeading {
        background: #000;
        color: #fff;
        height: 80px;
    }

    .productsHeading h1 {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .productsImage {
        background-image: url("../../../resources/assets/hp-pavilion/desktop/image-category-page-preview.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #F1F1F1;
        height: 560px;
        width: 740px;
        border-radius: 8px;
    }

    .products {
        width: 100%;
        display: flex;
        gap: 100px;
        margin-bottom: 100px;
    }

    .productsContent {
        width: 50%;
    }

    .productsContent h2 {
        margin-top: 100px;
        width: 50%;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; 
        letter-spacing: 1.4px;
    }

    .products p {
        margin-top: 25px;
        width: 445px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5; 
    }

    .products:nth-child(2) .productsContent {
        order: 0;
    }

    .products:nth-child(2) .productsImage {
        order: 1;
    }

    .productsBtn {
        border: none;
        padding: 20px 30px;
        margin-top: 24px;
        background: #D87D4A;
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    .productsBtn:hover {
        background: #FBAF85;
        cursor: pointer;
    }
}