@media screen and (max-width: 767px) {
    .cardWrapper {
        width: 85%;
        height: 700px;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;
        margin-bottom: 150px;
    }

    .hpCard,
    .dellCard,
    .macCard {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F1F1F1;
        height: 165px;
        border-radius: 8px;
        position: relative;
    }

    .hpCard img {
        width: 200px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .hpCard h3,
    .dellCard h3,
    .macCard h3 {
        margin-top: 80px;
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.1px;
    }

    .hpCard h4,
    .dellCard h4,
    .macCard h4 {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1.3px;
        opacity: 0.5;
    } 

    .dellCard {
        margin-top: 90px;
    }

    .dellCard img {
        width: 100px;
        height: 110px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .macCard {
        margin-top: 90px;
    }

    .macCard img {
        width: 180px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

   

   

    .shopLink {
        display: flex;
        text-decoration: none;
        align-items: center;
        gap: 5px;
    }

    .shopLink h4 {
        color: #000;
    }

    .arrow {
        height: 20px;
        color: #D87D4A;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cardWrapper {
        margin: 0 auto;
        display: flex;
        width: 90%;
        margin-top: 20px;
    }

    .hpCard,
    .dellCard,
    .macCard {
        width: 380px;
        height: 180px;
        display: flex;
        flex-direction: column;
        background-color: #F1F1F1;
        border-radius: 8px;
        position: relative;
        margin: 8px;
    }

    .hpCard img {
        width: 200px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .hpCard h3,
    .dellCard h3,
    .macCard h3 {
        margin: 0 auto;
        margin-top: 100px;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.071px;
        width: 180px;
        margin-bottom: 15px;
        text-align: center;
    }

    .hpCard h4,
    .dellCard h4,
    .macCard h4 {
        margin: 0 auto;
        width: 100px;
        text-align: center;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 700;
        opacity: 0.5;
    }

    .dellCard img {
        width: 100px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .macCard img {
        width: 180px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .shopLink {
        width: 80px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        /* gap: 5px; */
        text-decoration: none;
    }

    .shopLink h4 {
        color: #000;
    }

    .arrow {
        height: 20px;
        width: 50px;
        color: #D87D4A;
    }
}

@media screen and (min-width: 1024px) {
    .cardWrapper {
        margin: 0 auto;
        display: flex;
        width: 75%;
        margin-top: 8%;
    }

    .hpCard,
    .dellCard,
    .macCard {
        width: 500px;
        height: 250px;
        display: flex;
        flex-direction: column;
        background-color: #F1F1F1;
        border-radius: 8px;
        position: relative;
        margin: 8px;
    }

    .hpCard h3,
    .dellCard h3,
    .macCard h3 {
        margin: 0 auto;
        margin-top: 150px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.2px;
        width: 180px;
        margin-bottom: 15px;
        text-align: center;
    }

    .hpCard h4,
    .dellCard h4,
    .macCard h4 {
        margin: 0 auto;
        width: 100px;
        text-align: center;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 700;
        opacity: 0.5;
        margin-top: 10px;
    }

    .hpCard h4:hover,
    .dellCard h4:hover,
    .macCard h4:hover {
        color: #D87D4A;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: 700;
    }

    .hpCard img  {
        width: 300px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .dellCard img  {
        width: 150px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .macCard img {
        width: 300px;
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .shopLink {
        height: 50px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0 auto;
    }

    .shopLink h4 {
        color: #000;
        margin-bottom: 10%;
    }

    .arrow {
        height: 23px;
        width: 50px;
        margin-left: -20px;
        color: #D87D4A;
    }
}