@media screen and (max-width: 767px) {
    .bckImg {
        height: 470px;
        background-color: #0e0e0e;
        background-image: url("../../../resources/assets/home/mobile/image-header.jp");
        background-size:contain;
        background-position: right center;
        background-repeat: no-repeat;
        position: relative;
    }

    .heroContent {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: left;
    }

    .heroContent h2 {
        margin: 0 auto;
        width: 250px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 10px;
        margin-top: 100px;
    }

    .heroContent h1 {
        margin-top: 20px;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.3px;
        line-height: 40px;
        text-align: center;
    }

    .heroPara {
        margin-top: 20px;
        width: 328px;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.75;
    }

    .heroBtn {
        border: none;
        margin-top: 50px;
        background: #D87D4A;
        color: #0e0e0e;
        padding: 20px 35px;
        font-weight: 700;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .bckImg {
        height: 760px;
        background-color: #0e0e0e;
        background-image: url("../../../resources/assets/home/tablet/image-header.jp");
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
        position: relative;
    }

    .heroContent {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .heroContent h2 {
        margin: 0 auto;
        width: 250px;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 10px;
        margin-top: 250px;
    }

    .heroContent h1 {
        margin: 0 auto;
        font-size: 56px;
        font-weight: 700;
        letter-spacing: 1.3px;
        line-height: 58px;
        text-align: center;
        margin-top: 50px;
    }

    .heroPara {
        margin: 0 auto;
        width: 349px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        margin-top: 50px;
        opacity: 0.75;
    }

    .heroBtn {
        border: none;
        background: #D87D4A;
        color: #0e0e0e;
        padding: 25px 50px;
        font-weight: 700;
        margin-top: 80px;
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .heroWrapper {
        color: #fff;
    }

    .bckImg {
        height: 600px;
        background-color: #0e0e0e;
        background-image: url("../../../resources/assets/home/desktop/image-hero.jp");
        background-size: contain;
        background-position: right center;
        background-repeat: no-repeat;
        position: relative;
    }

    .heroContent {
        width: 349px;
        position: absolute;
        top: 21%;
        left: 12.5%;
    }

    .heroContent h2 {
        font-weight: 100;
        font-size: 20px;
        letter-spacing: 10px;
        margin-bottom: 30px;
    }

    .heroContent h1 {
        font-size: 60px;
        width: 450px;
        letter-spacing: 1.3px;
        line-height: 58px;
        margin-bottom: 30px;
    }

    .heroPara {
        width: 390px;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.75;
        margin-bottom: 30px;
    }

    .heroBtn {
        border: none;
        background: #D87D4A;
        color: #0e0e0e;
        padding: 15px 35px;
        font-weight: 700;
        font-size: 15px;
    }

    .heroBtn {
        cursor: pointer;
    }

    .heroBtn:hover {
        background: #FBAF85;
    }
}