@media screen and (max-width: 767px) {
    .orderContainer {
        width: 85%;
        height: auto;
        margin: 0 auto;
        padding: 25px;
        margin-top: 60px;
        background: #FFF;
        border-radius: 8px;
    }

    .checkContainer{
        border-radius: 50%;
        background:  #D87D4A;
        width: 64px;
        height: 64px;
        margin-bottom: 30px;

        position: relative;
    }

    .checkmark {
        color: #fff;
        width: 50px;
        height: 40px;

        position: absolute;
        top: 18%;
        left: 11%;
    }

    .orderContainerTop h1 {
        width: 210px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px; 
        letter-spacing: 0.85px;
        margin-bottom: 20px;
    }

    .orderContainerTop p {
        width: 290px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
        margin-bottom: 20px;
    }

    .orderImage img {
        width: 60px;
    }

    .orderContainerCenter{
        background: #F1F1F1;
        border-radius: 8px;
        padding: 20px;
    }

    .orderContainerContent {
        display: flex;
        justify-content: space-between;
    }

    .orderContentTop {
        margin-left: -30%;
    }

    .orderContentTop h3:nth-of-type(1) {
        font-size: 15px;
        font-weight: 700;
        line-height: 25px
    }

    .orderContentTop h3:nth-of-type(2) {
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
    }

    #orderQuantity {
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
    }

    hr {
        margin: 0 auto;
        width: 260px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .orderContentBottom {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.21px;
        opacity: 0.5;
    }

    .confirmOrderTotal {
        border-radius: 0px 0px 8px 8px;
        background: #000;
        color: #fff;
        padding: 20px;
        margin-bottom: 20px;
    }

    .confirmOrderTotal h3:nth-of-type(1) {
        width: 200px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; 
        opacity: 0.5;
        margin-bottom: 10px;
    }

    .confirmOrderTotal h3:nth-of-type(2) {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
    }

    .orderTotalBtn {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .orderTotalBtn button {
        border: none;
        padding: 10px 50px;
        background:  #D87D4A;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .orderContainer {
        width: 70%;
        height: auto;
        margin: 0 auto;
        padding: 25px;
        margin-top: 60px;
        background: #FFF;
        border-radius: 8%;
    }

    .checkContainer{
        border-radius: 50%;
        background:  #D87D4A;
        width: 64px;
        height: 64px;
        margin-bottom: 30px;

        position: relative;
    }

    .checkmark {
        color: #fff;
        width: 50px;
        height: 40px;

        position: absolute;
        top: 18%;
        left: 11%;
    }

    .orderImage img {
        width: 60px;
    }

    .orderContainerTop h1 {
        width: 450px;
        font-size: 32px;
        font-weight: 700;
        line-height: 28px; 
        letter-spacing: 0.85px;
        margin-bottom: 20px;
    }

    .orderContainerTop p {
        width: 350px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
        margin-bottom: 20px;
    }

    .orderCenterContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .orderContainerCenter{
        border-radius: 8px 0px 0px 8px;
        height: 140px;
        background: #F1F1F1;
        padding: 20px;
        width: 50%;
    }

    .orderContainerContent {
        display: flex;
        justify-content: space-between;
    }

    .orderContentTop h3:nth-of-type(1) {
        font-size: 15px;
        font-weight: 700;
        line-height: 25px
    }

    .orderContentTop h3:nth-of-type(2) {
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
    }

    #orderQuantity {
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
    }

    hr {
        margin: 0 auto;
        width: 190px;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .orderContentBottom {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.21px;
        opacity: 0.5;
    }

    .confirmOrderTotal {
        width: 50%;
        border-radius: 0px 8px 8px 0px;
        height: 140px;
        background: #000;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .confirmOrderTotal h3:nth-of-type(1) {
        width: 200px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; 
        opacity: 0.5;
        margin-bottom: 10px;
        margin-left: 15%;
    }

    .confirmOrderTotal h3:nth-of-type(2) {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
        margin-left: 15%;
    }

    .orderTotalBtn {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .orderTotalBtn button {
        border: none;
        padding: 10px 50px;
        background:  #D87D4A;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 1024px) {
    .orderContainer {
        width: 50%;
        height: auto;
        margin: 0 auto;
        padding: 25px;
        margin-top: 60px;
        background: #FFF;
        border-radius: 8px;
    }

    .checkContainer{
        border-radius: 50%;
        background:  #D87D4A;
        width: 64px;
        height: 64px;
        margin-bottom: 30px;

        position: relative;
    }

    .checkmark {
        color: #fff;
        width: 50px;
        height: 40px;

        position: absolute;
        top: 18%;
        left: 11%;
    }

    .orderImage img {
        width: 60px;
        margin-left: -15%;
    }

    .orderContainerTop h1 {
        width: 450px;
        font-size: 32px;
        font-weight: 700;
        line-height: 28px; 
        letter-spacing: 0.85px;
        margin-bottom: 20px;
    }

    .orderContainerTop p {
        width: 350px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
        margin-bottom: 20px;
    }

    .orderCenterContainer {
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .orderContainerCenter{
        height: 140px;
        background: #F1F1F1;
        border-radius: 8px 0px 0px 8px;
        padding: 20px;
        width: 50%;
    }

    .orderContainerContent {
        display: flex;
        justify-content: space-between;
    }

    .orderContentTop h3:nth-of-type(1) {
        width: 150px;
        margin-left: -10%;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px
    }

    .orderContentTop h3:nth-of-type(2) {
        margin-left: -10%;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
    }

    #orderQuantity {
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.5;
        margin-left: -15%;
    }

    hr {
        margin: 0 auto;
        width: 190px;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }

    .orderContentBottom {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: -0.21px;
        opacity: 0.5;
    }

    .confirmOrderTotal {
        width: 50%;
        height: 140px;
        background: #000;
        border-radius: 0px 8px 8px 0px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .confirmOrderTotal h3:nth-of-type(1) {
        width: 200px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px; 
        opacity: 0.5;
        margin-bottom: 10px;
        margin-left: 15%;
    }

    .confirmOrderTotal h3:nth-of-type(2) {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 8px;
        margin-left: 15%;
    }

    .orderTotalBtn {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .orderTotalBtn button {
        border: none;
        padding: 10px 50px;
        background:  #D87D4A;
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
    }
}