.loginContainer {
    width:300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.loginContainer h2 {
    text-align: center;
}

.loginContainer form div {
    margin-bottom: 15px;

}

.loginContainer form label {
    display: block;
    margin-bottom: 5px;
}

.loginContainer form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.loginContainer form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





