@media screen and (max-width: 767px) {
    .header {
        height: 80px;
        background-color: #000;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .menu .cardWrapper {
        margin-top: 80px;
    }

    .menu {
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0%;
        width: 100%;
        z-index: 100;
    }

    .menu h3 {
        color: #000;
    }

    .menu h4 {
        color: #000;
        opacity: 0.5;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 80px;
    }

    .burgerMenu {
        height: 20px;
        width: 20px;

        display: block;
    }

    .cart {
        height: 20px;
        width: 23px;
    }

    .links {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 80px;
        background-color: #000;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .menu .cardWrapper {
        margin-top: 80px;
        padding: 30px;
    }

    .menu {
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0%;
        width: 100%;
        z-index: 100;
    }

    .menu h3 {
        color: #000;
    }

    .menu h4 {
        color: #000;
        opacity: 0.5;
    }

    .headerContent {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 300px;
    }

    .headerContent h1 {
        margin-left: -350px;
    }

    .burgerMenu {
        height: 25px;
        width: 25px;
    }

    .cart {
        height: 25px;
        width: 25px;
    }

    .links {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        height: 100px;
        background-color: #000;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerContent {
        width: 75%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .links {
        display: flex;
        gap: 35px;
        order: 2;
    }

    .links a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }

    .links a:hover {
        color: #D87D4A;
    }

    h1 {
        order: 1;
    }

    .cart {
        order: 3;
        width: 24px;
        height: 20px;
    }

    .burgerMenu {
        display: none;
    }
}