@media screen and (max-width: 767px) {
    .header {
        height: 80px;
        background-color: #000;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }

    .headerLinks {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu .cardWrapper {
        margin-top: 80px;
    }

    .menu {
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0%;
        width: 100%;
        z-index: 100;
    }

    .menu h3 {
        color: #000;
    }

    .menu h4 {
        color: #000;
        opacity: 0.5;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        gap: 80px;
    }

    .burgerMenu {
        height: 20px;
        width: 20px;

        display: block;
    }

    .cart {
        height: 20px;
        width: 23px;
    }

    #cartProductsLength {
        background: #D87D4A;
        border-radius: 50%;
        font-size: 14px;
        height: 18px;
        width: 18px;
        text-align: center;
        position: absolute;
        top: 12px;
        right: 8%;
    }

    .cartOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .cartOpen {
        position: absolute;
        background-color: #fff;
        border-radius: 8px;
        top: 100%;
        left: 7%;
        width: 85%;
        z-index: 100;
    }

    .links {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        height: 80px;
        background-color: #000;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }

    .headerLinks {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .headerLogo {
        margin-left: 50px;
    }

    .menu .cardWrapper {
        margin-top: 80px;
        padding: 30px;
    }

    .menu {
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0%;
        width: 100%;
        z-index: 100;
    }

    .menu h3 {
        color: #000;
    }

    .menu h4 {
        color: #000;
        opacity: 0.5;
    }

    .burgerMenu {
        height: 25px;
        width: 25px;
    }

    .cart {
        height: 25px;
        width: 25px;
    }

    #cartProductsLength {
        background: #D87D4A;
        border-radius: 50%;
        font-size: 15px;
        height: 20px;
        width: 20px;
        text-align: center;
        position: absolute;
        top: 10px;
        right:5%;
    }

    .cartOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .cartOpen {
        position: absolute;
        background-color: #fff;
        border-radius: 8px;
        top: 100%;
        left: 35%;
        width: 60%;
        z-index: 100;
    }

    .links {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        height: 100px;
        background-color: #000;
        color: #fff;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerContent {
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    .headerLinks {
        display: flex;
        justify-content: space-between;
    }

    .links {
        display: flex;
        gap: 35px;
    }

    .links a {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }

    .links a:hover {
        color: #D87D4A;
    }

    .cart {
        order: 2;
        width: 24px;
        height: 20px;
    }

    #cartProductsLength {
        background: #D87D4A;
        border-radius: 50%;
        font-size: 15px;
        height: 20px;
        width: 20px;
        text-align: center;
        position: absolute;
        top: 17px;
        right: 12.6%;
    }

    .cart:hover {
        cursor: pointer;
    }

    .cartOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    .cartOpen {
        position: absolute;
        background-color: #fff;
        border-radius: 8px;
        top: 10%;
        left: 57%;
        width: 30%;
        z-index: 100;
    }

    .burgerMenu {
        display: none;
    }
}