@media screen and (max-width: 767px) {
    .productPageWrapper {
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .speakerImage {
        background-image: url("../../../resources/assets/product-zx9-speaker/mobile/image-category-page-preview.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 352px;
        width: 100%;
    }

    .mapSpeakers {
        margin-top: 60px;
    }

    .speakerWrapper {
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
    }

    .productHeading {
        background: #000;
        color: #fff;
        height: 100px;
    }

    .productHeading h1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
    }

    .mapSpeakers h2 {
        margin: 0 auto;
        width: 250px;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-top: 24px
    }

    .mapSpeakers p {
        width: 100%;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        line-height: 25px;
        opacity: 0.5;
        margin-top: 24px;
    }

    .speakerBtnDiv {
        display: flex;
        justify-content: center;

    }

    .speakerBtn {
        border: none;
        padding: 15px 20px;
        margin-top: 24px;
        background: #D87D4A;
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .productPageWrapper {
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .speakerImage {
        background-image: url("../../../resources/assets/product-zx9-speaker/tablet/image-category-page-preview.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #F1F1F1;
        height: 352px;
        border-radius: 8px;
    }

    .speakerWrapper {
        margin: 0 auto;
        width: 90%;
        margin-top: 50px;
    }

    .mapSpeakers {
        margin-top: 60px;
    }

    .productHeading {
        background: #000;
        color: #fff;
        height: 150px;
    }

    .productHeading h1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
    }

    .mapSpeakers h2 {
        margin: 0 auto;
        width: 350px;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 1.5px;
        margin-top: 35px
    }

    .mapSpeakers p {
        width: 572px;
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
        font-weight: 400;
        font-style: normal;
        line-height: 25px;
        opacity: 0.5;
        margin-top: 24px;
    }

    .speakerBtnDiv {
        display: flex;
        justify-content: center;

    }

    .speakerBtn {
        border: none;
        padding: 20px 30px;
        margin-top: 24px;
        background: #D87D4A;
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .speakerWrapper {
        margin: 0 auto;
        width: 75%;
        margin-top: 120px;

        display: flex;
        flex-direction: column;
    }

    .speakerImage {
        background-image: url("../../../resources/assets/product-xx59-headphones/desktop/image-category-page-preview.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #F1F1F1;
        height: 560px;
        width: 740px;
        border-radius: 8px;
    }

    .mapSpeakers {
        width: 100%;
        display: flex;
        gap: 100px;
        margin-bottom: 100px;
    }

    .speakerContent {
        width: 50%;
    }

    .speakerContent h2 {
        margin-top: 100px;
        width: 50%;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; 
        letter-spacing: 1.4px;
    }

    .speakerContent p {
        margin-top: 25px;
        width: 445px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5; 
    }

    .mapSpeakers:nth-child(2) .speakerContent{
        order: 0;
    }

    .mapSpeakers:nth-child(2) .speakerImage {
        order: 1;
    }

    .productHeading {
        background: #000;
        color: #fff;
        height: 120px;
    }

    .productHeading h1 {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
    }

    .speakerBtn {
        border: none;
        padding: 20px 30px;
        margin-top: 24px;
        background: #D87D4A;
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }

    .speakerBtn:hover {
        background: #FBAF85;
    }
}