@media screen and (max-width: 767px) {
    .footerWrapper {
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        height: 654px;
        position: relative;
    }

    .footerContent {
        margin: 0 auto;
        margin-top: 50px;
        width: 85%;
    }

    .logo {
        margin: 0 auto;
        position: absolute;
        left: 33%;
        top: 10%;
    }

    .footerLinks {
        margin-top: 130px;
    }

    .footerLinks a {
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; 
        letter-spacing: 2px;
        height: 40px;
        text-decoration: none;
        display: flex;
        justify-content: center;
    }

    .footerPara {
        margin: 0 auto;
        width: 327px;
        height: 150px;
        margin-top: 20px;
        color: #FFF;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
    }

    .footerBottom {
        margin-top: 40px;
        text-align: center;
    }

    .footerIcons {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footerWrapper {
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        height: 380px;
        position: relative;
    }

    .footerContent {
        margin: 0 auto;
        margin-top: 50px;
        width: 90%;
    }

    .footerPara {
        margin: 0 auto;
        height: 150px;
        margin-top: 10px;
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
    }

    .footerLinks {
        display: flex;
        gap: 25px;
        margin-top: 20px;
    }

    .footerLinks a {
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; 
        letter-spacing: 2px;
        height: 40px;
        text-decoration: none;
    }

    .footerBottom {
        display: flex;
        justify-content: space-between;
    }

    .footerIcons {
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .footerWrapper {
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        height: 380px;
        position: relative;
    }

    .footerContent {
        margin: 0 auto;
        margin-top: 70px;
        width: 75%;
        height: 300px;
    }

    .footerTop {
        display: flex;
        justify-content: space-between;
        height: 25px;
        margin-top: 5px;
    }

    .footerTop img:hover {
        cursor: pointer;
    }

    .footerLinks {
        display: flex;
        gap: 20px;
    }

    .footerLinks a {
        color: #fff;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px; 
        letter-spacing: 2px;
        height: 40px;
        text-decoration: none;
    }

    .footerLinks a:hover {
        color: #D87D4A
    }

    .footerPara {
        width: 540px;
        margin-top: 30px;
        color: #FFF;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
    }

    .footerBottom {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

    .footerBottom p {
        opacity: 0.5;
    }

    .footerIcons {
        display: flex;
        gap: 20px;
    }

    .footerIcons img:hover {
        cursor: pointer;
    }
}