@media screen and (max-width: 767px) {
    .bestWrapper {
        margin: 0 auto;
        width: 85%;
        height: auto;
        margin-top: 20px;
        padding-bottom: 80px;
    }

    .bestImg {
        background-image: url("../../../resources/assets/shared/mobile/image-best-gear.jpg");
        height: 400px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        border-radius: 8px;
    }

    .bestContent h2 {
        width: 327px;
        margin: 0 auto;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .bestSpan {
        color: #D87D4A;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
    }

    .bestPara {
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .bestWrapper {
        margin: 0 auto;
        width: 85%;
        height: 766px;
        margin-top: 60px;
    }

    .bestImg {
        background-image: url("../../../resources/assets/shared/tablet/image-best-gear.jpg");
        height: 300px;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        border-radius: 8px;
    }

    .bestContent h2 {
        width: 550px;
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .bestSpan {
        color: #D87D4A;
    }

    .bestPara {
        width: 550px;
        margin: 0 auto;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
    }
}

@media screen and (min-width: 1024px) {
    .bestWrapper {
        margin: 0 auto;
        width: 75%;
        height: 800px;
        margin-top: 150px;
        display: flex;
        gap: 8%;
        padding-bottom: 100px;
    }

    .bestImg {
        background-image: url("../../../resources/assets/shared/desktop/image-best-gear.jpg");
        height: 100%;
        width: 50%;
        background-size: cover;
        background-position: center;
        margin-bottom: 30px;
        border-radius: 8px;

        order: 2;
    }

    .bestContent {
        order: 1;
        width: 50%;
        margin-top: 15%;
    }

    .bestContent h2 {
        width: 450px;
        margin: 0 auto;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .bestSpan {
        color: #D87D4A;
    }

    .bestPara {
        width: 450px;
        margin: 0 auto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        opacity: 0.5;
    }
}